
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (ViewBag.Persona != null)
    {
        foreach (var item in ViewBag.Persona)
        {
            <p>@item.Persona.Nombre</p>
            <p>@item.Persona.ApellidoPaterno</p>
        }
    }
}
